venv/
__pycache__/
*.pyc
*.Zone.Identifier
**/*.Zone.Identifier
spotify-tracker/Top 50 - USA*.csv
spotify-tracker/google-chrome-stable_current_amd64.deb
*.deb
*.exe
node_modules/
.env/
dist/
build/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swpnode_modules/
*.wav
*.pkf
*:Zone.Identifier
*Zone.Identifier
*.patch
*.xcf
spotify-tracker/*.csv